// @charset "utf-8";

// body {
//   padding: 0;
//   margin: 0;
//   width: 100%;
//   height: 200px;
//   font-family: 'NotoSansKR';
//   // background-color: rgb(196, 196, 196);
//   div {
//     width: 100%;
//     // background-color: $color-primary;
//     @include flex-center;
//   }
//   article {
//     a {
//       display: block;
//       font-size: 16px;
//       margin: 5px;
//     }
//   }
// }

// @include mq(mobile) {
//   div {
//     padding: 0;
//     &.btn {
//       width: 100%;
//     }
//     .btn {
//       width: 200%;
//       &:hover {
//         background-color: red;
//       }
//     }
//   }

//   .test {
//     & .btn {
//       background-color: red;
//     }
//     .btn:hover & {
//       background-color: aqua;
//     }
//     span & {
//       width: 100px;
//     }
//   }

//   .wrap{
//     .box{
//       .outer_wrapper &{
//         margin:0 auto;
//         width:1024px;
//       }
//     }
//   }
// }

// @mixin create-context($classes...) {
//   @each $class in $classes {
//     .#{$class} & {
//       @content;
//     }
//   }
// }
// @mixin context--alternate-template {
//   @include create-context(header-01, header-02, header-03, header-04, header-05) {
//     @content
//   }
// }

// .header {
//   height: 12em;
//   background: red;

//   @include context--alternate-template {
//     background: green;
//   }
// }

// @mixin keyframes($name) {
//   @-webkit-keyframes #{$name} {
//     @content;
//   }

//   @-moz-keyframes #{$name} {
//     @content;
//   }

//   @keyframes #{$name} {
//     @content;
//   }
// }

// @include keyframes(fadeIn) {
//   from {
//     opacity: 0%;
//   }
//   to {
//     opacity: 100%;
//   }
// }

// @mixin element($name) {
//   @at-root #{&}__#{$name} {
//     @content;
//   }
// }

// @mixin modifier($name) {
//   @at-root #{&}--#{$name} {
//     @content;
//   }
// }

// .demo {
//   color: red;

//   @include element(middleName) {
//     color: green;

//     @include modifier(modifier) {
//       color: blue;
//     }
//   }
// }

// // 변수 설정
// $unit-width: 40px;
// $gutter-width: 10px;

// // grid-width 사용자 정의 함수(@function)
// @function grid-width($n:1) {
//   // 연산 결과 반환(@return)
//   @return $n * $unit-width + ($n - 1) * $gutter-width;
// }

// #sidebar {
//   // grid-width 함수 호출 결과 값 반환(전달인자 5)
//   width: grid-width(5); // 5 * 40 + (5-1) * 10 = 240px
// }

// // px 값을 em 단위로 변경하는 함수
// @function px2em($font_size: 1, $base_font_size: 16) {
//   // @return $font_size / $base_font_size + em;
//   // @return math.div($font-size, $base-font-size) + em;
//   @return calc($font-size / $base-font-size) + em;
// }

// body {
//   // 함수 호출
//   color: px2em(12, 20); // 12/20 + em = 0.6em
// }

// // 단위 제거 함수
// @function deUnit($value) {
//   $du_var : $value * 0 + 1;
//   @return calc($value / $du_var);
//   // @return math.div($value, $value * 0 + 1);
//   // @return calc($value / ($value * 0 + 1));
// }

// // PX → REM 함수
// @function PX2REM($px, $base: 16) {
//   // @return (deUnit($px) / $base) * 1rem
//   @return deUnit(calc($px / $base)) * 1rem;
// }
// .demo01 {
//   font-size: PX2REM(16px);
// }

// // REM → PX 함수
// @function REM2PX($rem, $base: 16) {
//   @return deUnit($rem * $base) * 1px;
// }
// .demo02 {
//   font-size: REM2PX(1rem);
// }
// .demo03 {
//   font-size: REM2PX(2rem, 10);
// }

// // REM 단축 함수
// @function REM($px, $base: 16) {
//   @return PX2REM(deUnit($px), $base);
// }
// .demo04 {
//   font-size: REM(20px, 16);
// }

// // PX → EM 함수
// @function PX2EM($px, $base: 16) {
//   // @return (deUnit($px) / $base) * 1em
//   @return deUnit(calc($px / $base)) * 1em;

// }
// .demo05 {
//   font-size: PX2EM(16px, 10);
// }

// // EM → PX 함수
// @function EM2PX($px, $base: 16) {
//   @return (deUnit($px) * $base) * 1px;
// }
// .demo06 {
//   font-size: EM2PX(1em, 10);
// }

// @function text-contrast($bg-color, $val: 70%) {

//   // 변수 $value 초기 값 설정 null
//   $value: null;

//   // 전달인자 값을 확인 (유효성 검사)
//   @if (type-of($bg-color) != color) {
//     @warn "첫번째 전달인자 값은 컬러 값이어야 합니다. 예) #fff, red, rgba()";
//     @debug "사용자가 전달한 값은 #{$bg-color}입니다.";
//   }
//   @if (lightness($bg-color) > 50%) {
//     $value: darken($bg-color, $val)
//   }
//   @else {
//     $value: lighten($bg-color, $val)
//   }
//   // 함수는 반드시 return 값이 필요하다
//   @return $value;
// }

// //  Photoshop 자간 간격 설정
// @function lt_Spacing($spacing) {
//   @if (type-of($spacing) !=number) {
//     @warn "전달한 인자 값은 #{$spacing}입니다 제대로 된 값(숫자)을 전달해주세요."
//   }
//   @return calc(deUnit($spacing) / 1000);
// }

// .demo-01 {
//    background-color: text-contrast(#c4c4c4, 50%)
// }

// .demo-02 {
//   letter-spacing: lt_Spacing(16);
// }

.d-flex {
  @include flex-center;
  gap: 30px;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

div {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@keyframes rollAnimation {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(360deg);
  }
  50% {
    transform: rotateY(720deg);
  }
  75% {
    transform: rotateY(1080deg);
  }
  100% {
    transform: rotateY(1440deg);
  }
}

.dice-number {
  font-size: 3rem;
  animation: rollAnimation 1s ease-out;
}

.dice-container {
  width: 50px; /* 주사위 이미지 크기 조정 */
  height: 50px;
  position: relative;
  overflow: hidden;
}

.dice-image {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-out;
}

.dice-image.rolling {
  transform: rotate(360deg);
}

.dice-wrap {
  position: relative;
  width: 52px;
  height: 52px;
  margin: 30px auto;
  perspective: 700px;
  cursor: pointer;
  &::after {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    display: block;
    content: "";
    width: 80px;
    height: 5px;
    border-radius: 50%;
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.75);
  }
  &.enemy {
    .dice-3d {
      & > span {
        border: 1px solid #ff0000;
      }
    }
  }
  .dice-3d {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .2s;
    transform-style: preserve-3d;
    &.rolling {
      animation: freeturn .2s linear infinite;
    }
    & > span {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 12px;
      font-size: 0;
      // border: 1px solid #d8d8d8;
      // background-color: rgba(255, 85, 68, 0.4);
      background-color: rgb(255, 255, 255);
      &:nth-child(1) {
        transform: translateZ(26px);
        background-image: url("../images/dice1.png");
      }
      &:nth-child(2) {
        transform: translateX(-26px) rotateY(-90deg);
        background-image: url("../images/dice2.png");
      }
      &:nth-child(3) {
        transform: translateZ(-26px) rotateY(-180deg);
        background-image: url("../images/dice3.png");
      }
      &:nth-child(4) {
        transform: translateX(26px) rotateY(90deg);
        background-image: url("../images/dice4.png");
      }
      &:nth-child(5) {
        transform: translateY(-26px) rotateX(90deg);
        background-image: url("../images/dice5.png");
      }
      &:nth-child(6) {
        transform: translateY(26px) rotateX(270deg);
        background-image: url("../images/dice6.png");
      }
      &[class^="active-10"] {
        font-size: 0;
        &::before {
          display: block;
          width: 10px;
          height: 10px;
          background-color: #555;
          content: '';
          border-radius: 50%;
        }
      }
      &.active-1 { background-image: url("../images/dice1.png"); }
      &.active-2 { background-image: url("../images/dice2.png"); }
      &.active-3 { background-image: url("../images/dice3.png"); }
      &.active-4 { background-image: url("../images/dice4.png"); }
      &.active-5 { background-image: url("../images/dice5.png"); }
      &.active-6 { background-image: url("../images/dice6.png"); }

    }
  }
}

@keyframes freeturn {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    // transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
  }
}

.Avatar-preview {
  width: 200px;
  height: 200px;
  border: 1px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  .Avatar-inner {
    width: 180px;
    height: 180px;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .Avatar-head {
    width: 100%;
    height: 90px;
    background-color: #1b1b1b;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-top-left-radius : 100px;
    border-bottom-right-radius : 20px;
  }
  .Avatar-eyes {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    z-index: 1;
    span {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    span {
      &::after, &::before {
        width: 12px;
        height: 12px;
        background-color: #333;
        content: "";
        display: flex;
        border-radius: 50%;
      }
    }
  }
  .Avatar-face {
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    span {
      width: 160px;
      height: 100px;
      background-color: #ebe7df;
      border-top-left-radius : 10px;
      border-top-right-radius : 10px;
      border-bottom-left-radius : 60px;
      border-bottom-right-radius : 60px;
    }
  }
  &.bald {
    .Avatar-head { 
      display: none;
    }
    .Avatar-eyes {
      top: 100px;
    }
    .Avatar-face {
      height: 100%;
      span {
        height: 90%;
        border-radius : 60px;
      }
    }
  }
  &.longHair {
    .Avatar-head {
      z-index: 0;
      span {
        width: 100%;
        height: 150px;
        background-color: #1b1b1b;
        position: absolute;
      }
    }
  }
  &.smallEyes {
    .Avatar-eyes {
      span {
        width: 110px;
      }
      span {
        &::after, &::before {
          width: 20px;
          height: 2px;
        }
      }
    }
  }
  &.square {
    .Avatar-face {
      span {
        background-color: #dfe9d2;
        border-radius : 5px;
      }
    }
  }
}
.Avatar-figure {
  &.view {
    font-size: 10px;
    padding: 0;
    & div {
      margin-bottom: 5px;
    }
  }
}
.Avatar-figure, .Avatar-info {
  margin: 5px 0;
}

.Avatar-figure label, .Avatar-info label {
  display: block;
  margin: 5px 0;
}

.Avatar-figure select, .Avatar-info input, .Avatar-info select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

h2, h3 {
  margin-bottom: 5px;
}

.intro {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .skip {
    padding: 10px;
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}

.hide {
  display: none !important;
}

.main-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  button {
    display: block;
    background: none;
    color: #111;
    &:disabled {
      color: #cacaca;
    }
  }
}

.input-name {
  ime-mode:inactive;
}